.navbar-brand {
  font-family: "Great Vibes", cursive;
}

.cover-header {
  display: flex;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #262626, #262627);
}

.header-title {
  font-family: "Great Vibes", cursive;
}
